:root {
    --header-bg-color: #000; /*#009cd7;*/
    --header-title-color: #03a062; /*#fff;*/
    --header-title-focus-color: #03a062; /*#B85F01;*/
    --header-subtitle-color: #03a062;
    --header-navtext-color: #03a062;
    --main-highlight-color: #03a062;
    --main-bg-color: #000;
    --main-text-color: #03a062;
    --main-font-family: "'Lucia Grande', Verdana, Helvetica, Arial, sans-serif, serif";
    --postlist-navtext-color: var(--header-navtext-color);
    --footer-bg-color: #000;
    --footer-text-color: var(--header-navtext-color);
    --footer-navtext-color: var(--header-navtext-color);
    --link-color: #03a062;
    --link-focus-color: var(--link-color);
    --link-focus-bg-color: #ffff00;
    --date-bg-color: var(--header-title-color); /*var(--header-bg-color);*/
    --date-text-color: var(--header-bg-color); /*var(--header-title-color);*/
    --body-color: #fff;        
}

a, details summary {
    border: 2px solid;
    border-color: rgba(3, 160, 98, 0);
    color: var(--link-color);
    text-decoration-color: var(--main-highlight-color);
    text-decoration-thickness: 2px;
}

header.masthead nav a {
    text-decoration: none;
    text-decoration-thickness: 2px;
    border: 2px solid;
    border-color: #000;
    border-radius: 5px;
    padding: 2px 5px;

}

header nav.subtitle a.current {
    border: 2px solid;
    border-color: #000;
    border-radius: 5px;
    background-color: var(--header-title-color);
    color: var(--header-bg-color);
    text-decoration: none;
    padding: 2px 5px;
}